.table {
  width: 100%;
  border-spacing: 0 26px;
}

.desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: table-row;
  }
}
