.logo {
  width: 175px;
  height: 24px;
  background-image: url('../../../public/assets/images/Logo.svg');
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.footer {
  margin-top: 2rem;
  text-align: center;
  color: var(--text-color-primary);
  font-size: 0.75rem;
}

.theme_switcher {
  margin-left: 0.5rem;
  cursor: pointer;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2rem 4rem;
  }
}
