.title {
    color: var(--text-color-primary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

.neighbours {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
