.wrapper {
    background: var(--background-color-light);
    border-radius: 12px;
    padding: 25px 31px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: var(--details-color);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    font-weight: 500;
    font-size: 14px;
    min-height: 72px;
}

.row:last-child {
    border-bottom: none;
}

.flag {
    width: 79px;
}

.row_title {
    color: var(--text-color-primary);
}

.row_content {
    padding: 30px 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.neighbours_row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

.neighbours {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.neighbour {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 79px;
    user-select: none;
}

.neighbour img {
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.neighbour img:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-selected);
}

.neighbour span {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
}
